body {
	font-size:1.10em;
}

h1 { text-align:center;
color:blue;}
	form, table {margin: 0 auto; }
	
	table {
		border:2px solid white;	
		width:10%;
	}
	
	th {
		padding:1em;
		border:1px solid white;
		height:auto;
	}

	tr, td {
		background-color:lightgray;
		
	}	

tr {
	padding:1em;
}

td {padding:.5em}
	
	th {
		background-color:#43956f;
		color:white;
		font-size:1em;
	}
/**
	#col2, #col3, #col4, #col5 {
	width:130px;	
	}
**/	
	#total {
		font-weight:bold;
		text-align:right;
	}

	input {
		border:.5px solid gray;
	}
